<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
    <input 
    type="text" 
    name="username" required 
    placeholder="Insert your username"/>
    <input 
    type="password" 
    name="password" required 
    placeholder="Insert your password"/>
    <button>Submit</button>
    </form>
</body>
</html>
=======
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/login" method="post">
      <input
        type="text"
        name="username"
        required
        placeholder="Insert your username"
      />
      <input
        type="password"
        name="password"
        required
        placeholder="Insert your password"
      />
      <button>Log in!</button>
    </form>
  </body>
</html>
>>>>>>> 96a9bb4baebd5f0e858ec4aeac17d72d3f967d0c
